:root {
    --primary-font: "Winky Rough", sans-serif;
    --secondary-font: "Roboto Slab", serif;
}

* {
    color: black;
    font-family: var(--secondary-font);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: lavender;
    max-width: 1000px;
}

header {
    background-color: lavender;
    min-height: 110px;
    display: flex;
    align-items: center;
    position: relative;
}

.headti {
    font-size: x-large;
    padding: 10px;
}

.headti.hidden {
    visibility: hidden;
    opacity: 0;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}


nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 2000px;
    margin: 0 auto;

}

h2 {
    text-align: center;
}



#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation.open a {
    display: block;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    align-self: center;
    background-color: lavender;
}

.foot {
    margin: 0;
    padding: 10px;
    font-size: x-large;
}

.footy {
    margin: 0;
    padding: 0;
    font-size: large;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    padding: 1rem;
    background: rgb(236, 236, 236);
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 20px;
    padding: 1rem;
    justify-content: center;
}

.card img {
    max-width: 300px;
    height: auto;
}

.card h2 {
    margin: 0.5rem 0;
}